public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace
public net.minecraft.client.gui.MapRenderer$MapInstance
public net.minecraft.client.gui.MapRenderer$MapInstance <init>(Lnet/minecraft/client/gui/MapRenderer;ILnet/minecraft/world/level/saveddata/maps/MapItemSavedData;)V #- MapInstance constructor
public net.minecraft.world.level.saveddata.maps.MapItemSavedData <init>(IIBZZZLnet/minecraft/resources/ResourceKey;)V #- MapItemSavedData constructor

#- MapItemSavedData
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77888_ #- trackingPosition
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77889_ #- unlimitedTracking
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77893_ #- carriedBy
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77896_ #- carriedByPlayers
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77897_ #- bannerMarkers
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77894_ #- decorations
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77898_ #- frameMarkers
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_181308_ #- trackedDecorationCount
public net.minecraft.world.level.saveddata.maps.MapItemSavedData m_164799_(Ljava/lang/String;)V #- removeDecoration
public net.minecraft.world.level.saveddata.maps.MapItemSavedData m_77937_(Lnet/minecraft/world/level/saveddata/maps/MapDecoration$Type;Lnet/minecraft/world/level/LevelAccessor;Ljava/lang/String;DDDLnet/minecraft/network/chat/Component;)V #- addDecoration
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer m_164815_(I)Lnet/minecraft/network/protocol/Packet; #- nextUpdatePacket
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer f_77962_ #- dirtyData
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer f_164813_ #- dirtyDecorations
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer f_77965_ #- maxDirtyX
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer f_77963_ #- minDirtyX
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer f_77966_ #- maxDirtyY
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer f_77964_ #- minDirtyY
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer m_164820_()V #- markDecorationsDirty
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer m_164817_(II)V #- markColorsDirty
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer f_77967_ #- tick
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer m_164814_(Lnet/minecraft/world/level/saveddata/maps/MapItemSavedData$MapPatch;)V #- createPatch
public net.minecraft.world.level.saveddata.maps.MapItemSavedData$HoldingPlayer <init>(Lnet/minecraft/world/level/saveddata/maps/MapItemSavedData;Lnet/minecraft/world/entity/player/Player;)V #- HoldingPlayer constructor

#- MapRenderer
public net.minecraft.client.gui.MapRenderer f_93256_ #- maps
public net.minecraft.client.gui.MapRenderer f_93255_ #- textureManager
public net.minecraft.client.gui.MapRenderer f_93254_ # MAP_ICONS
public net.minecraft.client.gui.MapRenderer$MapInstance f_93281_ #- texture
public net.minecraft.client.gui.MapRenderer$MapInstance f_93280_ #- data
public net.minecraft.client.gui.MapRenderer$MapInstance f_182565_ #- requiresUpload
public net.minecraft.client.gui.MapRenderer$MapInstance m_93290_()V #- updateTexture
public net.minecraft.client.gui.MapRenderer$MapInstance m_182567_(Lnet/minecraft/world/level/saveddata/maps/MapItemSavedData;)V #- replaceMapData

#- Biome (still considering doing this)

#- Dim specal effects
public net.minecraft.client.renderer.DimensionSpecialEffects f_108857_ #- EFFECTS

#- Dim type
public-f net.minecraft.world.level.dimension.DimensionType f_63839_ #- brightnessRamp
public net.minecraft.world.level.dimension.DimensionType <init>(Ljava/util/OptionalLong;ZZZZDZZZZZIIILnet/minecraft/tags/TagKey;Lnet/minecraft/resources/ResourceLocation;F)V #- Main constructor

#- Level
public-f net.minecraft.world.level.Level f_46425_ #- skyDarken

#- ClientLevel
public net.minecraft.client.multiplayer.ClientLevel m_171684_()Ljava/util/Map; #- getAllMapData
public net.minecraft.client.multiplayer.ClientLevel m_171672_(Ljava/util/Map;)V #- addMapData
public-f net.minecraft.client.multiplayer.ClientLevel f_104559_ #- chunkSource

#- ServerLevel
public-f net.minecraft.server.level.ServerLevel f_8547_ #- chunkSource

#- ClientChunkCache
public-f net.minecraft.client.multiplayer.ClientChunkCache f_104409_ #- lightEngine

#- SkyLightEngine
public-f net.minecraft.world.level.lighting.SkyLightEngine #- SkyLightEngine class
public net.minecraft.world.level.lighting.SkyLightEngine m_6359_(JJI)I #- computeLevelFromNeighbor

#- LevelLightEngine
public-f net.minecraft.world.level.lighting.LevelLightEngine f_75802_ #- BlockEngine
public-f net.minecraft.world.level.lighting.LevelLightEngine f_75803_ #- SkyEngine

#- LayerLightEngine
public-f net.minecraft.world.level.lighting.LayerLightEngine f_75631_ #- layer
public net.minecraft.world.level.lighting.LayerLightEngine m_6359_(JJI)I #- computeLevelFromNeighbor

#- SkyLightSectionStorage
public net.minecraft.world.level.lighting.SkyLightSectionStorage$SkyDataLayerStorageMap #- SkyDataLayerStorageMap subclass
public net.minecraft.world.level.lighting.SkyLightSectionStorage$SkyDataLayerStorageMap f_75900_ #- SkyDataLayerStorageMap subclass - currentLowestY
public net.minecraft.world.level.lighting.SkyLightSectionStorage$SkyDataLayerStorageMap f_75901_ #- SkyDataLayerStorageMap subclass - topSections
public net.minecraft.world.level.lighting.SkyLightSectionStorage <init>(Lnet/minecraft/world/level/chunk/LightChunkGetter;)V #- SkyLightSectionStorage constructor
public net.minecraft.world.level.lighting.SkyLightSectionStorage m_164457_(JZ)I #- getLightValue
public net.minecraft.world.level.lighting.SkyLightSectionStorage m_75870_(I)Z #- hasSectionsBelow

#- LayerLightSectionStorage
public net.minecraft.world.level.lighting.LayerLightSectionStorage m_75758_(JZ)Lnet/minecraft/world/level/chunk/DataLayer; #- getLightValue
public net.minecraft.world.level.lighting.LayerLightSectionStorage m_75785_()V #- runAllUpdates
public net.minecraft.world.level.lighting.LayerLightSectionStorage m_75791_(J)Z #- storingLightForSection

#- DynamicGraphMinFixedPoint
public net.minecraft.world.level.lighting.DynamicGraphMinFixedPoint m_75576_(JJIZ)V #- checkEdge
public net.minecraft.world.level.lighting.DynamicGraphMinFixedPoint m_6359_(JJI)I #- computeLevelFromNeighbor

#- SectionTracker
public net.minecraft.server.level.SectionTracker m_6359_(JJI)I #- computeLevelFromNeighbor

#- SurfaceRules
public net.minecraft.world.level.levelgen.SurfaceRules$Condition #- Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition #- LazyYCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context #- Context
public net.minecraft.world.level.levelgen.SurfaceRules$Context f_189535_ #- system
public net.minecraft.world.level.levelgen.SurfaceRules$Context f_189544_ #- context
public net.minecraft.world.level.levelgen.SurfaceRules$Context f_189546_ #- blockX
public net.minecraft.world.level.levelgen.SurfaceRules$Context f_189557_ #- blockY
public net.minecraft.world.level.levelgen.SurfaceRules$Context f_189547_ #- blockZ

public net.minecraft.world.level.levelgen.SurfaceSystem m_189988_(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/world/level/levelgen/PositionalRandomFactory; #- getOrCreateRandomFactory
