#- Used for title screen logic
public net.minecraft.client.gui.screens.TitleScreen fading
public net.minecraft.client.gui.screens.TitleScreen fadeInStart
public net.minecraft.client.gui.screens.TitleScreen realmsNotificationsScreen
public net.minecraft.client.gui.screens.TitleScreen fadeWidgets(F)V
public net.minecraft.client.gui.screens.TitleScreen getMultiplayerDisabledReason()Lnet/minecraft/network/chat/Component;

#- Used in WeedwoodCraftingTableMenu
protected-f net.minecraft.world.inventory.CraftingMenu craftSlots
protected-f net.minecraft.world.inventory.CraftingMenu resultSlots

#- Used for various overlays
public net.minecraft.client.gui.Gui displayHealth
public net.minecraft.client.gui.Gui random
public net.minecraft.client.gui.Gui getCameraPlayer()Lnet/minecraft/world/entity/player/Player;

#- Used in AmateMapData
public net.minecraft.world.level.saveddata.maps.MapItemSavedData <init>(IIBZZZLnet/minecraft/resources/ResourceKey;)V
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData bannerMarkers
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData frameMarkers
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData trackedDecorationCount
public net.minecraft.world.level.saveddata.maps.MapItemSavedData decorations
public net.minecraft.world.level.saveddata.maps.MapItemSavedData setDecorationsDirty()V

#- Used for custom surface rules
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$Context context
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockX
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockY
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockZ

#- Used for weather events
public net.minecraft.server.level.ChunkMap getChunks()Ljava/lang/Iterable;

#- Used for RiftRender
public net.minecraft.client.renderer.FogRenderer fogRed
public net.minecraft.client.renderer.FogRenderer fogGreen
public net.minecraft.client.renderer.FogRenderer fogBlue

#- Used for custom spawner logic
public net.minecraft.world.level.BaseSpawner spawnDelay
public net.minecraft.world.level.BaseSpawner minSpawnDelay
public net.minecraft.world.level.BaseSpawner maxSpawnDelay
public net.minecraft.world.level.BaseSpawner maxNearbyEntities
public net.minecraft.world.level.BaseSpawner spawnRange
public net.minecraft.world.level.BaseSpawner spawnPotentials
public net.minecraft.world.level.BaseSpawner displayEntity
public net.minecraft.world.level.BaseSpawner spawnCount
public net.minecraft.world.level.BaseSpawner isNearPlayer(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.world.level.BaseSpawner oSpin
public net.minecraft.world.level.BaseSpawner spin
public net.minecraft.world.level.BaseSpawner delay(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)V
public net.minecraft.world.level.BaseSpawner getOrCreateNextSpawnData(Lnet/minecraft/world/level/Level;Lnet/minecraft/util/RandomSource;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/SpawnData;

#- Used for custom fishing hook
public net.minecraft.world.entity.projectile.FishingHook$FishHookState
public net.minecraft.world.entity.projectile.FishingHook currentState
public net.minecraft.world.entity.projectile.FishingHook life
public net.minecraft.world.entity.projectile.FishingHook checkCollision()V
public net.minecraft.world.entity.projectile.FishingHook setHookedEntity(Lnet/minecraft/world/entity/Entity;)V

#- Used for ModelBlockRendererMixin lighting patcher
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace

#- Used for ShaderHandler & PostChainWorldShader
public net.minecraft.client.renderer.PostChain passes
public net.minecraft.client.renderer.PostChain shaderOrthoMatrix
public net.minecraft.client.renderer.PostChain parsePassNode(Lnet/minecraft/client/renderer/texture/TextureManager;Lcom/google/gson/JsonElement;)V
public net.minecraft.client.renderer.PostPass effect
public net.minecraft.client.renderer.PostPass auxAssets
public net.minecraft.client.renderer.PostPass auxNames
public net.minecraft.client.renderer.PostPass auxWidths
public net.minecraft.client.renderer.PostPass auxHeights
public net.minecraft.client.renderer.PostPass shaderOrthoMatrix
public net.minecraft.client.renderer.LevelRenderer transparencyChain
public net.minecraft.client.renderer.GameRenderer renderItemInHand(Lnet/minecraft/client/Camera;FLorg/joml/Matrix4f;)V
public-f net.minecraft.client.renderer.PostPass inTarget
public-f net.minecraft.client.renderer.PostChain customRenderTargets

#- Used for BLSkyRenderer
public net.minecraft.client.renderer.LevelRenderer drawStars(Lcom/mojang/blaze3d/vertex/Tesselator;)Lcom/mojang/blaze3d/vertex/MeshData;
public net.minecraft.client.renderer.LevelRenderer cloudsTarget

public net.minecraft.client.Minecraft startAttack()Z
public net.minecraft.client.Minecraft continueAttack(Z)V

public net.minecraft.client.renderer.entity.LivingEntityRenderer layers
public net.minecraft.world.level.block.entity.BeehiveBlockEntity IGNORED_BEE_TAGS
public net.minecraft.world.level.levelgen.LegacyRandomSource seed
public net.minecraft.world.level.block.TransparentBlock <init>(Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.world.entity.EntityType factory
public net.minecraft.world.level.block.StairBlock getStairsShape(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/state/properties/StairsShape;
public net.minecraft.world.level.block.LeavesBlock getDistanceAt(Lnet/minecraft/world/level/block/state/BlockState;)I
public net.minecraft.world.level.block.LeavesBlock updateDistance(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/state/BlockState;
public net.minecraft.world.level.block.TrapDoorBlock toggle(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/player/Player;)V
public net.minecraft.world.level.Level skyDarken

public net.minecraft.client.particle.Particle setAlpha(F)V
public net.minecraft.client.particle.SpellParticle  setAlpha(F)V
public net.minecraft.client.particle.ParticleEngine providers
public net.minecraft.world.entity.LivingEntity jumping

#- For BetweenlandsChunkGenerator
public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator doFill(Lnet/minecraft/world/level/levelgen/blending/Blender;Lnet/minecraft/world/level/StructureManager;Lnet/minecraft/world/level/levelgen/RandomState;Lnet/minecraft/world/level/chunk/ChunkAccess;II)Lnet/minecraft/world/level/chunk/ChunkAccess;

public net.minecraft.world.level.storage.loot.LootTable pools
public net.minecraft.world.level.storage.loot.LootPool entries
public net.minecraft.world.level.storage.loot.entries.LootItem item
public net.minecraft.world.level.storage.loot.entries.DynamicLoot name
public net.minecraft.world.level.storage.loot.entries.NestedLootTable contents
public net.minecraft.client.particle.ParticleEngine spriteSets
public net.minecraft.client.particle.ParticleEngine$MutableSpriteSet
public net.minecraft.world.entity.ai.navigation.PathNavigation shouldTargetNextNodeInDirection(Lnet/minecraft/world/phys/Vec3;)Z

public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.server.level.ChunkMap entityMap
public net.minecraft.server.level.ChunkMap$TrackedEntity serverEntity
public net.minecraft.server.level.ServerEntity tickCount
public net.minecraft.server.level.ServerEntity updateInterval
public net.minecraft.client.gui.components.BossHealthOverlay events
public net.minecraft.server.level.ServerBossEvent players
public net.minecraft.client.sounds.WeighedSoundEvents list

public net.minecraft.client.sounds.SoundManager soundEngine
public net.minecraft.client.sounds.SoundEngine instanceToChannel
public net.minecraft.client.sounds.ChannelAccess$ChannelHandle channel
public com.mojang.blaze3d.audio.Channel source
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator reusableNeighbors
public net.minecraft.world.entity.WalkAnimationState position

public net.minecraft.client.particle.DripParticle$DripHangParticle
public net.minecraft.client.particle.DripParticle$FallAndLandParticle
public net.minecraft.client.particle.DripParticle$DripLandParticle
public net.minecraft.client.particle.DripParticle$DripHangParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/particles/ParticleOptions;)V # <init>
public net.minecraft.client.particle.DripParticle$FallAndLandParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/particles/ParticleOptions;)V # <init>
public net.minecraft.client.particle.DripParticle$DripLandParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;)V # <init>

public net.minecraft.client.renderer.RenderType$CompositeRenderType

public-f net.minecraft.client.Minecraft progressTasks
public-f net.minecraft.client.Minecraft mouseHandler
public net.minecraft.world.entity.Entity updateInWaterStateAndDoWaterCurrentPushing()V

public net.minecraft.world.entity.vehicle.Boat tickLerp()V

public-f net.minecraft.client.model.geom.ModelPart
public net.minecraft.client.model.geom.ModelPart cubes
public net.minecraft.client.model.geom.ModelPart children
public net.minecraft.client.model.geom.ModelPart$Cube polygons
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex

public-f net.minecraft.client.model.geom.builders.CubeDefinition
public-f net.minecraft.client.model.geom.builders.CubeDefinition *
public net.minecraft.client.model.geom.builders.CubeDefinition <init>(Ljava/lang/String;FFFFFFFFLnet/minecraft/client/model/geom/builders/CubeDeformation;ZFFLjava/util/Set;)V # <init>
public net.minecraft.client.model.geom.builders.CubeListBuilder cubes
public net.minecraft.client.model.geom.builders.CubeListBuilder xTexOffs
public net.minecraft.client.model.geom.builders.CubeListBuilder yTexOffs
public net.minecraft.client.model.geom.builders.CubeListBuilder mirror
public net.minecraft.client.model.geom.builders.LayerDefinition <init>(Lnet/minecraft/client/model/geom/builders/MeshDefinition;Lnet/minecraft/client/model/geom/builders/MaterialDefinition;)V # <init>
public net.minecraft.client.model.geom.builders.PartDefinition cubes
public net.minecraft.client.model.geom.builders.PartDefinition children
public net.minecraft.client.model.geom.builders.PartDefinition partPose
public net.minecraft.client.model.geom.builders.PartDefinition <init>(Ljava/util/List;Lnet/minecraft/client/model/geom/PartPose;)V # <init>

public net.minecraft.client.model.geom.builders.CubeDeformation growX
public net.minecraft.client.model.geom.builders.CubeDeformation growY
public net.minecraft.client.model.geom.builders.CubeDeformation growZ

public net.minecraft.client.MouseHandler accumulatedDX
public net.minecraft.client.MouseHandler accumulatedDY

public net.minecraft.client.renderer.entity.layers.CustomHeadLayer skullModels

public-f net.minecraft.world.entity.ai.goal.AvoidEntityGoal avoidClass

#- Shockwave Sword projectile overrides this
public net.minecraft.world.entity.Entity updateInWaterStateAndDoWaterCurrentPushing()V

public net.minecraft.world.entity.ExperienceOrb count
public net.minecraft.world.entity.ExperienceOrb followingPlayer
public net.minecraft.world.entity.ExperienceOrb scanForEntities()V

public net.minecraft.server.level.ServerPlayer findRespawnAndUseSpawnBlock(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/core/BlockPos;FZZ)Ljava/util/Optional;

public net.minecraft.client.particle.ParticleEngine$MutableSpriteSet sprites

public net.minecraft.data.worldgen.placement.OrePlacements commonOrePlacement(ILnet/minecraft/world/level/levelgen/placement/PlacementModifier;)Ljava/util/List; # commonOrePlacement
public net.minecraft.data.worldgen.placement.OrePlacements rareOrePlacement(ILnet/minecraft/world/level/levelgen/placement/PlacementModifier;)Ljava/util/List; # rareOrePlacement

public net.minecraft.world.level.chunk.LevelChunk loaded

public-f net.minecraft.client.resources.TextureAtlasHolder reload(Lnet/minecraft/server/packs/resources/PreparableReloadListener$PreparationBarrier;Lnet/minecraft/server/packs/resources/ResourceManager;Lnet/minecraft/util/profiling/ProfilerFiller;Lnet/minecraft/util/profiling/ProfilerFiller;Ljava/util/concurrent/Executor;Ljava/util/concurrent/Executor;)Ljava/util/concurrent/CompletableFuture; # reload

public net.minecraft.world.entity.LightningBolt visualOnly
public net.minecraft.world.entity.LightningBolt spawnFire(I)V
public net.minecraft.world.entity.LightningBolt powerLightningRod()V
public net.minecraft.world.entity.LightningBolt clearCopperOnLightningStrike(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)V
public net.minecraft.world.entity.LightningBolt getStrikePosition()Lnet/minecraft/core/BlockPos;

#- ProjectileDispenseBehaviour fields
protected net.minecraft.core.dispenser.ProjectileDispenseBehavior projectileItem
protected net.minecraft.core.dispenser.ProjectileDispenseBehavior dispenseConfig

#- PlayerUtil
public net.minecraft.server.network.ServerGamePacketListenerImpl clientIsFloating
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundTickCount
public net.minecraft.server.network.ServerGamePacketListenerImpl clientVehicleIsFloating
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundVehicleTickCount