# Minecraft
public net.minecraft.client.Minecraft func_147116_af()V # clickMouse
public net.minecraft.client.Minecraft func_147115_a(Z)V # sendClickBlockToController
public-f net.minecraft.client.Minecraft field_152351_aB # scheduledTasks

# Keybinding
public net.minecraft.client.settings.KeyBinding field_151474_i # pressTime

# Loot
public net.minecraft.world.storage.loot.LootEntryItem field_186369_b # functions
public net.minecraft.world.storage.loot.LootEntryTable field_186371_a # table
public net.minecraft.world.storage.loot.functions.SetCount field_186568_a # countRange

# Model
public net.minecraft.client.model.ModelBox field_78254_i # quadList

# Sound
public net.minecraft.client.audio.SoundEventAccessor field_188716_a # accessorList
public net.minecraft.client.audio.SoundHandler field_147694_f # sndManager
public net.minecraft.client.audio.SoundManager field_148620_e # sndSystem
public net.minecraft.client.audio.SoundManager field_148630_i # invPlayingSounds

# Texture
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_110973_g # frameCounter
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_110983_h # tickCounter
public net.minecraft.client.renderer.texture.TextureMap field_110574_e # mapRegisteredSprites

# Render
public net.minecraft.client.renderer.entity.RenderManager field_78725_b # renderPosX
public net.minecraft.client.renderer.entity.RenderManager field_78726_c # renderPosY
public net.minecraft.client.renderer.entity.RenderManager field_78723_d # renderPosZ
public net.minecraft.client.renderer.entity.RenderLivingBase field_177097_h # layerRenderers
public net.minecraft.client.renderer.EntityRenderer func_78476_b(FI)V # renderHand
public net.minecraft.client.renderer.EntityRenderer func_78479_a(FI)V # setupCameraTransform
public net.minecraft.client.renderer.OpenGlHelper field_148828_i # openGL14
public net.minecraft.client.renderer.OpenGlHelper field_153212_w # framebufferType
public net.minecraft.client.renderer.OpenGlHelper$FboMode

# Map
public net.minecraft.client.gui.MapItemRenderer func_148248_b(Lnet/minecraft/world/storage/MapData;)Lnet/minecraft/client/gui/MapItemRenderer$Instance; # getMapRendererInstance
public net.minecraft.client.gui.MapItemRenderer$Instance # Instance
public net.minecraft.client.gui.MapItemRenderer$Instance field_148241_e # mapTextureData
public net.minecraft.client.gui.MapItemRenderer$Instance field_148243_c # mapTexture

# Advancements
public net.minecraft.advancements.CriteriaTriggers func_192118_a(Lnet/minecraft/advancements/ICriterionTrigger;)Lnet/minecraft/advancements/ICriterionTrigger; # register
public net.minecraft.advancements.ICriterionTrigger$Listener field_192161_b # advancement
public net.minecraft.inventory.InventoryCrafting field_70465_c # eventHandler

# EntityLivingBase
public net.minecraft.entity.EntityLivingBase func_82166_i()I # getArmSwingAnimationEnd
public net.minecraft.entity.EntityLivingBase field_70703_bu # isJumping

# EntityPlayerMP
public net.minecraft.entity.player.EntityPlayerMP field_184851_cj # invulnerableDimensionChange

# GuiContainer
protected net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_147006_u # hoveredSlot

# RenderItem
public net.minecraft.client.renderer.RenderItem func_191967_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;ILnet/minecraft/item/ItemStack;)V # renderModel
public net.minecraft.client.renderer.RenderItem func_191966_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;)V # renderEffect

# GuiBossOverlay
public net.minecraft.client.gui.GuiBossOverlay field_184060_g # mapBossInfos
